.dropbtn {
  background: none;
  color: var(--mantine-color-gray_100-filled);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  column-gap: 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: none important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* left: -16px; */
  top: 28px;
}
a {
}

.dropdown-content li:hover a:hover {
  background: var(--mantine-color-primary-filled);
  color: var(--primary-100);
}

.is-uppercase {
  text-transform: uppercase;
}

.dropdown-content a {
  background: var(--mantine-color-gray_2-filled);
  color: var(--mantine-color-gray_100-filled);
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content li {
  color: var(--mantine-color-gray_100-filled);
}

.dropdown-content a:hover {
  color: var(--mantine-color-primary-filled);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* color: green; */
}

.Login-btn {
  color: var(--mantine-color-gray_100-filled);
}

.tab-buttons button {
  background-color: var(--mantine-color-transparent_10-filled);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-buttons button.active {
  background-color: #00b71f;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #00b71f;
  transition: transform 0.3s ease;
}
