.red {
  background: #e14136;
}

.green {
  background: green;
}

.none {
  background: none;
}

.medium {
  border-radius: 4px;
  height: 24px;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.is-outline.red {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

.is-outline.green {
  background-color: transparent;
  border: 2px solid green;
  color: green;
}

.is-outline.blue {
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
}

.fontSize.12 {
  font-size: 12px;
  color: red;
}

.gray {
  color: #a6a6b0;
}
