.Footer-container {
  /* background: #27272a;
  display: flex;
  align-items: center;
  color: #a6a6b0;
  height: 30px;
  bottom: 0;
  font-size: 12px;
  justify-content: space-between; */

  height: 30px;
  bottom: 0;
  color: #a6a6b0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  position: fixed;
  background-color: #27272a;
  z-index: 10000;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  /* background: #a6a6b0; */
  /* width: 53px; */
  height: 22px;
  min-width: 88px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  min-width: 88px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn3 {
  min-width: 88px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn4 {
  min-width: 88px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn::before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  left: -1px;
  border-left: 1px solid #01edc1;
}

.btn-order {
  min-width: 88px;
  width: auto;
  /* height: 100%; */
  height: 30px;
  background: #e14136;
  display: flex;
  align-items: center;
  justify-content: center;
}
