.Navsort {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  /* background-color: #27272a; */
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: space-between;
}

.tab-list {
  display: flex;
  column-gap: 4px;
}

.IconSort {
  background: #27272a;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 28px;
}
.bnt-1 {
  border-radius: 4px 4px 0px 0px;
  width: 180px;
  height: 30px;
  align-items: center;
  display: flex;
  padding-left: 8px;
  justify-content: flex-start;
  background-color: #00b71f;
}
.bnt-2 {
  border-radius: 4px 4px 0px 0px;
  width: auto;
  min-width: 104px;
  height: 30px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding-left: 8px;
  background-color: #27272a;
}

.bnt-1:hover {
  background: #00b71f;
}

.bnt-2:hover {
  background: #00b71f;
}
